:root {
  --icon: 28px;
  --avatar: 40px;
  --media-width: 216px;
  --media-height: 384px;
  --media-post-width: 800px;
  --media-post-height: 100vh;
}

.post-content {
  max-width: 500px;
  cursor: pointer;
}
.post-body {
  /* 
  overflow config 
  must not use padding for div not to overflow
  */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.post-body,
.post-body-full {
  font-size: 14px;
  font-weight: 700;
}
.post-wrapper {
  height: 100%;
  overflow-y: scroll;
}
.feed-element {
  padding: 48px 0;
  max-width: 500px;
  border-bottom: 1px solid #f2f2f2;
}
.feed-media {
  position: relative;
  border-radius: 16px;
  width: var(--media-width);
  height: var(--media-height);
  overflow: hidden;
  cursor: pointer;
}
.post-media {
  width: var(--media-post-width);
  height: var(--media-post-height);
}
/* define component size for video feed */
.post-media video,
.feed-media video {
  object-fit: cover;
}

.feed-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  align-self: flex-end;
  margin-left: calc(var(--media-width) + var(--icon));
}
.actions-wrapper {
  justify-content: space-between;
  padding: 18px 10px;
  border-radius: var(--icon);
  background-color: #fd1053;
  opacity: 0.7;
}
.avatar,
.icon {
  cursor: pointer;
  width: var(--icon);
  height: var(--icon);
  transition: all 0.3s ease-in-out;
}
.avatar {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: var(--avatar);
  height: var(--avatar);
  border: 1px solid #d8d8d8;
}
.verified-icon {
  width: calc(var(--icon) / 2);
  height: calc(var(--icon) / 2);
}
.icon:hover {
  transform: scale(0.95);
}
.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  margin-top: 5px;
  width: 100%;
}
.icon-wrapper {
  display: flex;
  background-color: #fd1053;
  width: var(--avatar);
  height: var(--avatar);
  padding: 8px;
  border-radius: 50%;
  opacity: 0.7;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container > .icon-title {
  color: #222;
  font-size: 12px;
  font-weight: 400;
}

.post-username {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
