html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* css imports */
@import './main.css';
@import './fonts.css';
@import './nav.css';
@import './buttons.css';
@import './side-bar.css';
@import './feed.css';
@import './download.css';

/* MEDIA QUERIES */
@import './media-queries.css';
