/* media queries */
@media only screen and (max-width: 480px) {
  .side-bar {
    display: none;
  }
  .feed-media {
    width: 100%;
    height: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .user-details,
  .feed-actions,
  .search-container {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .mobile-only {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .mobile-only {
    display: block;
  }
}
@media only screen and (max-width: 1536px) {
  .mobile-only {
    display: block;
  }
}
